<footer>
    <div class="footer">
        <div class="container">
            <div class="row footer-description">
                <!-- Company Info -->
                <div class="col-md-4 footer-info">
                    <h5>VietTech - cloud plarform</h5>
                    <p>Delivering the best e-commerce experience since 2023. Shop with us for quality and convenience.</p>
                </div>
                <!-- Quick Links -->
                <div class="col-md-4 footer-links">
                    <h5>Quick Links</h5>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Returns</a></li>
                    </ul>
                </div>
                <!-- Legal and Social Media -->
                <div class="col-md-4 footer-legal">
                    <p>&copy; 2024 VietTech. All rights reserved.</p>
                    <p>
                        <a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a>
                    </p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
